#page-content-wrapper {
    width: 97%;
    height: 100%;
    background-color: white;
    margin-top: 20px;
    margin-left: 2.3%;
}

.header {
    background-color: #00ABD0;
}

.card-img-top {
    width: 150px;
    border-radius: 50%;
}

.customerDetails {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    font-size: 20px;
}

.buttons {
    margin-top: -6px;
    height: 80%;
    border-radius: 50%;
    width: 100%;
}

.customerName {
    font-size: 40px;
}

.customerID {
    font-size: 20px;
}

.address .gmail .contactNumber {
    font-size: 15px;
}

.table {
    border: 1px solid black;
}

.paidBtn {
    padding: 0.8px 10px;
    font-size: 10px;
    border-radius: 8px;
}

.payBtn {
    border-radius: 10%;
    padding: 3px 20px;
}