<div id="page-content-wrapper" class="mt-1 ml-3">
    <div class="mt-2">
        <div class="d-flex justify-content-end">
            <div class="mr-auto p-2">
                <h5 class="font-weight-bold">Employee Records</h5>
            </div>
            <div class="p-2 mr-auto ml-3">
                <h5 class="font-weight-bold"></h5>
            </div>
            <div class="p-2"><input type="text" class="form-control" placeholder="Search" /></div>
            <div class="p-2"><a [routerLink]="['/register-employee']"><button class="btn btn-primary ">Register New
                        Employee</button></a></div>
        </div>
        <div class="col-md-4  row m-2 employeeCard" *ngFor="let staff of staffDataArray | paginate: { itemsPerPage: 6, currentPage: p }">
                <div class="row bg-light">
                    <div class="d-flex">
                        <div class="p-2">
                            <img class="card-img-top" src="../../assets//img//img2.jpg" alt="Profile Image">
                        </div>
                        <div class="p-2">
                            <h4 class="mt-1">{{ staff.fullName }}</h4>
                            <p class="text-danger">{{ staff.usertype }}</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p><i class="fas fa-mobile-alt ml-3"></i>&nbsp;&nbsp;{{ staff.contactNumber }}</p>
                    <p><i class="fas fa-envelope ml-3"></i> &nbsp;&nbsp;{{ staff.email }}</p>
                    <p><i class="fas fa-map-marker-alt ml-3"></i>&nbsp;&nbsp;{{ staff.address }}</p>
                </div>
           
        </div>
        <div>
            <pagination-controls (pageChange)="p = $event" class="pagination float-right"></pagination-controls>
        </div>
    </div>

</div>