#page-content-wrapper {
    overflow-x: hidden;
    background-color: #E1DBDB;
    margin: 5%;
}

.input-group {
    // float: right;
    // width: 50%;
    margin-left: 30%;
    // margin-right: 2%;
    margin-top: -5%;
}

.btn {
    border-radius: 5px;
}

.card-img-top {
    width: 100px;
    border-radius: 50%;
}

.name {
    float: right;
    margin-top: -70px;
    margin-left: 37%;
}

.position {
    float: right;
    margin-left: 37%;
    margin-top: -30px;
}

.card-body {
    background-color: #006D8F;
    margin-right: -12px;
    margin-left: -12px;
}