#page-content-wrapper {
    overflow-x: hidden;
    background-color: #E1DBDB;
}

.card-img-top {
    width: 100px;
    border-radius: 50%;
}

.card-body {
    background-color: #154865;
    box-shadow: 0px 4px 8px 0px #757575;
    margin-right: -12px;
    margin-left: -12px;
    color: #E1DBDB;
}
.employeeCard {
    display: inline-flex;
}


@media screen and (max-width: 991px) {
    .row.container {
        margin-left: 1%;
    }
}
