<div id="page-content-wrapper">
    <div class="row container pt-5">
        <h5 class="font-weight-bold ml-5">Employee Records</h5>
        <div class="input-group w-50">
            <input type="text" class="form-control ml-2" placeholder="">
            <a href="register-employee"><button class="btn btn-primary sm-col ml-2 mb-4">Register New Employee</button></a>
        </div>
    </div>

    <div class="row">
        <div class="card mr-4" style="width: 17rem; ">
            <div class="row">
                <img class="card-img-top m-2" src="../../assets//img//img2.jpg" alt="Card image cap">
                <h2 class="name">John Doe</h2>
                <p class="position">Administrator</p>
            </div>

            <div class="card-body">
                <p><i class="fas fa-mobile-alt mr-3"></i>09075109005</p>
                <p><i class="fas fa-envelope mr-3"></i>butating@gmail.com</p>
                <p><i class="fas fa-map-marker-alt mr-3"></i>Sagbayan, Bohol</p>
            </div>
        </div>

        <div class="card mr-4" style="width: 17rem; ">
            <div class="row">
                <img class="card-img-top m-2" src="../../assets//img//img2.jpg" alt="Card image cap">
                <h2 class="name">John Doe</h2>
                <p class="position">Administrator</p>
            </div>

            <div class="card-body">
                <p><i class="fas fa-mobile-alt mr-3"></i>09075109005</p>
                <p><i class="fas fa-envelope mr-3"></i>butating@gmail.com</p>
                <p><i class="fas fa-map-marker-alt mr-3"></i>Sagbayan, Bohol</p>
            </div>
        </div>

        <div class="card" style="width: 17rem; ">
            <div class="row">
                <img class="card-img-top m-2" src="../../assets//img//img2.jpg" alt="Card image cap">
                <h2 class="name">John Doe</h2>
                <p class="position">Administrator</p>
            </div>

            <div class="card-body">

                <p><i class="fas fa-mobile-alt mr-3"></i>09075109005</p>
                <p><i class="fas fa-envelope mr-3"></i>butating@gmail.com</p>
                <p><i class="fas fa-map-marker-alt mr-3"></i>Sagbayan, Bohol</p>
            </div>
        </div>
    </div>

</div>