<div id="page-content-wrapper" class="container-fluid mt-2 ml-2">
    <div class="row">
        <div class="col-md-4">
            <div class="card-counter danger">
                <i class="fas fa-ticket-alt"></i>
                <span class="count-numbers">{{ transactionRecordsNumber}}</span>
                <span class="count-name">Transaction Records</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-counter success">
                <i class="fa fa-database"></i>
                <span class="count-numbers">{{ numberCustomer }}</span>
                <span class="count-name">Households</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-counter info">
                <i class="fa fa-users"></i>
                <span class="count-numbers">{{employeeNumber}}</span>
                <span class="count-name">Users</span>
            </div>
        </div>
    </div>
    <div class="container  mt-2 bg-white" style="height:50%">
        <canvas id="myChart" width="400" height="250"></canvas>
    </div>
</div>