<div class="container meterReadingContainer">
    <form #meterReadingForm="ngForm" (ngSubmit)="getMeterReadingData(meterReadingForm.value)" class="meterReadingForm">
        <div class="form-row">
            <h6 class="formHeader text-center">Meter Reading</h6>
        </div>
        <hr>
        <div class="form-row">
            <input [ngModel]="recordedBy" type="hidden" name="recordedBy">
            <div class="form-group col-md-12 inputLabel">
                <label for="houseId">House Id</label>
                <input [ngModel]="customer_id" name="customer_id" type="text" class="form-control " id="customer_id">
            </div>
            <div class="form-group col-md-12 inputLabel">
                <label for="meterReading">Meter Reading</label>
                <input [ngModel]="meterReading" name="meterReading" type="text" class="form-control " id="meterReading">
            </div>
            <div class="form-group col-md-12 inputLabel">
                <label for="meterReading">Reading Date</label>
                <!-- <input [ngModel]="reading_date" name="reading_date" type="date" class="form-control " id="readingDate"> -->
                <input
                    class="mt-4 form-control reading_date"
                    type="date"
                    id="reading_date"
                    max="{{ today }}"
                    ngModel
                    name="reading_date"
                  />
            </div>
        </div>
        <!-- Button -->
        <div class="form-row d-flex flex-row-reverse">
            <div class="p-2"><button type="submit" class="btn btn-primary  mt-3 mb-5" [routerLink]="['/create-transaction']">Save</button></div>
            <div class="p-2"><button class="btn btn-danger  mx-2 mt-3 mb-5" [routerLink]="['/create-transaction']">Cancel</button></div>
        </div>
    </form>
</div>