<div id="page-content-wrapper" class="mt-1 ml-3">
    <div class="mt-2">
        <div class="d-flex justify-content-end">
            <div class="mr-auto p-2">
                <h5 class="font-weight-bold mt-4">Settings</h5>
            </div>
            <div class="p-2 mr-auto ml-3">
                <h5 class="font-weight-bold"></h5>
            </div>
        </div>
        <div class="d-flex flex-row mt-2">
            <table class="table table-striped table-bordered" id="top_selling_table">
                <thead class="col-md-12">
                    <tr>
                        <th class="col-md-5">Water Rate(/cu.m)</th>
                        <th class="col-md-5">Value</th>
                        <th class="col-md-2 text-center">Action</th>
                    </tr>
                </thead>
                <tbody id="tbody" *ngFor="let setting of settingData">
                    <td>{{ setting.settingName }}</td>
                    <td>{{ setting.value }}</td>
                    <td>
                        <button class="btn bg-info ml-2" [routerLink]="['/customer-view']"><i class="fas fa-pen"></i></button>
                        <button class="btn bg-danger ml-2" [routerLink]="['/customer-view']"><i class="fas fa-trash-alt"></i></button>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</div>